.header-container{
    text-align: center;
    margin-top: 10px;
}
.header-container img{
    width:150px;
}
.header-container nav{
    line-height: 50px;
    background-color: black;
}
.header-container nav a{
    text-decoration: none;
    margin-right: 25px;
    color: white;
}
.header-container nav a:hover{
    background-color: yellowgreen;
    line-height: 40px;
}